---
/////////////////////////////////
// DATA
////////////////////////////////
interface Props {
  background?: "dark" | "light";
  classes?: string;
}

const { background = "light", classes = "" } = Astro.props;
---

<p
  class={`${
    background === "dark" ? "text-titleLight" : "text-titleDark"
  } text-xl leading-tight font-medium ${classes}`}
>
  <slot />
</p>
