---
/////////////////////////////////
// COMPONENTS
////////////////////////////////
import H1 from "../typography/H1.astro";
import Subtitle from "../typography/Subtitle.astro";
import BookingForm from "../partials/BookingForm.astro";

/////////////////////////////////
// DATA
////////////////////////////////
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<section class="rounded-section-outer pt-5">
  <div class="rounded-section-inner bg-brandDarkBlue relative">
    <div
      class="wrapper-large flex flex-wrap lg:flex-nowrap items-center pt-14 lg:py-20"
    >
      {/* textarea */}
      <div
        class="flex flex-col items-start w-full lg:w-1/2 lg:pr-10 px-2 md:px-0 z-10 relative"
      >
        <H1 background={"dark"} classes={"max-w-[550px]"}>
          {title}
        </H1>
        <Subtitle background={"dark"} classes="max-w-xl mt-7">
          {description}
        </Subtitle>

        <a
          href={"https://uk.trustpilot.com/review/anyrep.co.uk"}
          target={"_blank"}
          rel="noopener noreferrer"
          class="bg-white border border-brandDarkBlue mt-10 hover:bg-whiteHover text-center duration-300 text-base font-medium transition-colors flex items-center rounded-xl px-7 h-11"
        >
          <svg
            viewBox="0 0 799.9 761"
            xmlns="http://www.w3.org/2000/svg"
            class="w-6 h-6 mr-2"
          >
            <path
              d="M799.9 290.8H494.4L400.1 0l-94.7 290.8L0 290.5l247.4 180L152.7 761l247.4-179.6L647 761l-94.3-290.5z"
              fill="#00b67a"></path>
            <path d="m574 536.2-21.2-65.7-152.7 110.9z" fill="#005128"></path>
          </svg>
          Leave us a review
        </a>
      </div>
      {/* form */}
      <div class="w-full mt-14 -mb-5 lg:mt-0 lg:w-1/2 z-10 relative">
        <div class="bg-white rounded-2xl border-8 border-black p-5 pt-8">
          <span
            class="absolute top-0 left-1/2 -translate-x-1/2 w-[100px] h-6 bg-black rounded-b-lg"
          ></span>
          <BookingForm />
        </div>
      </div>

      {/* bg  */}
      <span
        class="absolute top-0 left-0 right-0 bottom-0 rounded-2xl overflow-hidden"
      >
        <span
          class="hero-clip absolute block right-0 bottom-0 lg:top-10 bg-brandRed w-[50%] top-auto h-[400px] lg:h-auto !lg:w-[55%] z-0"
        ></span>
      </span>
    </div>
  </div>
</section>
