---
/////////////////////////////////
// ASSETS
////////////////////////////////
import ANYREP_METAIMAGE from "../assets/images/anyrep_metaimage.png?url";
import LOGO from "../assets/images/logo.png?url";

/////////////////////////////////
// COMPONENTS
////////////////////////////////
import MainLayout from "../layouts/Main.astro";
import CardGrid from "../components/blocks/CardGrid.astro";
import Map from "../components/blocks/Map.astro";
import Accordions from "../components/blocks/Accordions.astro";
import CTA from "../components/blocks/CTA.astro";
import SimpleHero from "../components/blocks/SimpleHero.astro";
import ServiceIntro from "../components/blocks/ServiceIntro.astro";
import P from "../components/typography/P.astro";
import DashCard from "../components/partials/DashCard.astro";

/////////////////////////////////
// DATA
////////////////////////////////
const SCHEMA = JSON.stringify({
  "@context": "https://schema.org",
  "@type": "Service",
  name: "Hoover Repairs",
  image: ANYREP_METAIMAGE,
  description:
    "Book your hoover repair online for same or next-day repairs. We have over 20 years of experience serving the Norwich, Norfolk area. Book online today!",
  provider: {
    "@type": "Organization",
    name: "Anyrep Appliance Repairs",
    url: "https://anyrep.co.uk",
    logo: LOGO,
  },
  areaServed: {
    "@type": "Place",
    name: "Norwich, Norfolk",
  },
});
---

<MainLayout
  title="Hoover Repairs | Norwich, Norfolk | Book online"
  description="Book your hoover repair online for same or next-day repairs. We have over 20 years of experience serving the Norwich, Norfolk area. Book online today!"
  ogTitle="Hoover Repairs | Norwich, Norfolk | Book online"
  ogDescription="Book your hoover repair online for same or next-day repairs. We have over 20 years of experience serving the Norwich, Norfolk area. Book online today!"
  twitterTitle="Hoover Repairs | Norwich, Norfolk | Book online"
  twitterDescription="Book your hoover repair online for same or next-day repairs. We have over 20 years of experience serving the Norwich, Norfolk area. Book online today!"
  breadcrumbs={[
    { href: "/", text: "Home" },
    {
      href: "/hoover-repairs",
      text: "Hoover Repairs",
      current: true,
    },
  ]}
>
  <SimpleHero
    title="Hoover Repairs"
    body="If you have a faulty hoover, don't hesitate to call Anyrep today! Book online in under a minute!"
    link={{
      text: "Book a repair!",
      url: "/book",
    }}
  />
  <ServiceIntro>
    <P classes={"lg:!text-xl"}>
      It can suck when your hoover doesn’t! Your house slowly builds up dust, it
      can create a horrible environment to live in. At Anyrep we specialise in
      hoover repairs, so if yours is faulty, we have the experience and parts to
      get it fixed for you.
    </P>
  </ServiceIntro>
  <CardGrid
    title="Common Faults"
    body="These are some common faults that we fix at Anyrep often. If none of these apply to you, don't worry."
  >
    <DashCard title="Weak suction" />
    <DashCard title="Broken belt" />
    <DashCard title="Broken motor" />
    <DashCard title="Broken filter" />
    <DashCard title="Unusual noise" />
    <DashCard title="Tripping electrics" />
  </CardGrid>
  <Map
    title="Serving the Norwich, Norfolk area!"
    body="If your hoover has left you stuck, dont hesitate to call us!"
  />
  <Accordions
    accordions={[
      {
        title: "What area do you cover?",
        body: [
          "At Anyrep, we offer our appliance repair services to the greater Norwich, Norfolk area. So, if you reside there and need your appliance repaired, don't hesitate to contact us right away.",
        ],
      },
      {
        title: "How long will my repair take?",
        body: [
          "We aim to complete repairs on the same day where possible, and they typically last between 1 and 2 hours. But in the case, you require a part we don't keep in stock, we will rearrange another visit ASAP.",
        ],
      },
      {
        title: "Will my machine need new parts?",
        body: [
          "Depending on the issue with your appliance you may not need parts. However, in the case you do, we keep common parts in stock so we can ensure a speedy and professional repair service.",
        ],
      },
      {
        title: "How does your pricing work?",
        body: [
          "For domestic appliance repairs, we charge a fixed call-out fee, and the cost of any parts if required. That's it. So regardless of how long it takes to get the job done, you arent going to be hit with hidden fees. For commercial appliance repairs, we charge a minimal call-out fee, an hourly fee and then the price of parts if required.",
        ],
      },
    ]}
  />
  <CTA />
  <script type="application/ld+json" slot="head" set:html={SCHEMA}></script>
</MainLayout>
